.btn {
    padding: 20px;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}

.btn--primary {
    background-color: var(--secondary-color);
    color: black;
    border: 1px solid var(--secondary-color);
}

.btn--outline {
    background-color: transparent;
    color: var(--secondary-color);
    padding: 8px 20px;
    border: 1px solid var(--secondary-color);
    transition: all 0.3s ease-out;
}

.btn--primary--form {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 50px;
    border-radius: 8px;
}

.btn--medium {
    padding: 8px 20px;
    font-size: 18px;
}

.btn--large {
    padding: 12px 26px;
    font-size: 20px;
}

.btn--mobile {
    text-align: center;
    border-radius: 8px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: var(--secondary-color);
    padding: 14px 20px;
    border: 1px solid var(--secondary-color);
    transition: all 0.3s ease-out;
}

.btn--wide {
    background-color: var(--secondary-color);
    box-shadow: 2px 3px 4px var(--secondary-dark);
    color: black;
    padding: 12px 64px;
    font-size: 20px;
}

.btn--large:hover,
.btn--medium:hover,
.btn--mobile:hover {
    transition: all 0.5s ease-out;
    background: var(--secondary-color);
    color: var(--primary-dark);
    font-size: 1.4rem;
}

.btn--wide:hover {
    color: white;
    background-color: var(--secondary-dark);
    transition: all 0.1s ease-out;
}

.btn-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 8px 16px;
    height: 100%;
    width: 100%;
}

.primary {
    background-color: var(--secondary-color);
    color: var(--secondary-color);
    border: none;
}

.primary:hover {
    background-color: var(--secondary-color);
    color: var(--secondary-dark);
    border: none;
}
